/.DS_Store
/models
/data/MicrosoftCoco_dataset/
/data/Flickr30k_dataset/
/data/Flickr8k_dataset/
/data/Pascal_sentences_dataset
/notebooks
/logs
/.idea
/trials
/.pytest_cache
/.mypy_cache/
__pycache__/
/hyperparameters
